*{
     list-style:none;
     box-sizing: content-box;
}

body{
     background:url("https://cdn.pixabay.com/photo/2015/03/30/17/37/texture-699695_960_720.jpg");
     background-repeat:no-repeat;
      background-size:160%;     background-origin:padding-box;
}

header{

     background-color: rgb(63, 73, 73);
     height: 100px;
     border-radius: 10px;
     border-style:solid;
     border-color: rgba(0, 0, 0, 0.332);
     
}

.container{
     display: flex;
     justify-content: space-between;
     flex-direction: row-reverse;
}


header h1{
     display: flex;
     flex-direction: column;
     padding-right: 95px;
     padding-top: 15px;
     margin: 0 auto;
     font-size: 30px;
     color:#B8E8FC;
     max-width: 50px;
     text-align: center;
     transition: all 200ms ease;
}


header h1:hover{
     color: rgb(200, 255, 212);
     cursor: pointer;
     margin: 5px;
     border-left: 1.5px solid rgb(65,107,119);
     border-bottom: 1.5px solid rgb(65,107,119);

     
}

#Reytero{
    color:  rgb(200, 255, 212);}

#btn-menu{
     visibility: hidden;
}
.Btn-menu{
     display: flex;
     flex-direction: row-reverse;
margin-right: 60px;
}

.Btn-menu img{
     border-radius:10px;
}

.Btn-menu label{
  cursor: pointer;
}

.xd{
     margin-top: 20px;
}

#menu{
     display: flex;
     float: right;
     }
     #menu a{
               margin-right: 15px;
               padding-left: 0px;
               padding-right: 20px;               
               font-size: 25px;
               padding-bottom: 3px;
               color: white;
               line-height: 20px;
               text-decoration: none;
               transition: all 501ms ease;
               transform: translateY(-20px);


     }
     #menu a:hover{
               color: rgb(200, 255, 212);
               border-bottom: solid rgb(65,107,119) 2px;
               transition: all 600ms ease;
               transform: translateY(-20px);
          }

          .submenu{
               display: none;
               position:absolute;
               margin: 0px;
               padding-left: 10px;
               background-color: rgb(63, 73, 73);               
               transition: all 500ms ease;
          
          }
          .submenu a{
               padding-right: 200px;
          }

          #menu li:hover .submenu{
               display: block;
               transition: all 500ms ease;

          }
     .container-menu{
               right: 50px;top:0; 
               position:absolute;
               opacity: 0;
               width: 100%;
               margin-top: 108px;
               margin-left: 10px;
               height: 100%;
               max-width: 220px;
               visibility: hidden;
              transition: all 700ms ease;
              align-self: center;
            
     } 


     .cont-menu{
          background-color: rgb(63, 73, 73);
          width: 100%;
               max-width: 220px;
               height: 100%;   
               max-height: 650px;                 
               position: relative;
               border-radius: 5px;
               justify-content: end;
               padding: 20px;
               border:3px solid rgba(0, 0, 0, 0.313);
              border-radius: 5px;
     }
     .cont-menu label{
               float:right;
               top: 2px;
               cursor: pointer;
     } 
     .cont-menu a{
               color: white;
               font-size: 24px;
               padding-left: 0px;
               text-decoration: none;
               padding: 20px;
               margin-top: 90px;
               transition: all 200ms ease;
     }
     .cont-menu a:hover{
               border-left: 2px rgb(66, 82, 86) solid;
               border-bottom: 2px rgb(59, 90, 99) solid;
               color: rgb(65,107,119);
               animation:forwards;
     }
     #btn-menu:checked~.container-menu{
               opacity: 1;
               visibility: visible;
              
     }

     .cont-menu label{
               color: white;
               font-size: 30px;
               margin-bottom: 20px;
     }
main{
     display: block;          
     justify-content: center;
}
main h1{
     text-align: center;
}
.informacion-reytero{
     display: flex;
     flex-direction: column;
     background-color: rgba(63, 73, 73, 0.5);
     margin-top: 50px;
     width: auto;
     max-width: 950px;
     padding-left: 25px;
     padding-right: 25px;
     margin-left: 10px;
     text-align: center;
     margin: 0 auto;
     height: auto;
     border-radius: 9px;
     border:solid rgba(0, 0, 0, 0.313);
     transition: all 500ms ease;
}
.Info{
     margin-right: 20px;
     line-height: 20px;
     height: auto;
     transition: all 500ms ease;

}
.informacion-reytero h1{
     color: rgb(255, 255, 255);
     font-size: 45px;
     transition: all 500ms ease;

}
.titulo2{
     display: none;
}
.informacion-reytero h1:hover{
     color: rgb(65,107,119);
     text-decoration: underline;

}
.hr1{
     display: none;
     width: 100%;
}
.Info li{
     color: rgb(255, 255, 255);
     font-size: 20px;
     padding-bottom: 10px;
     text-decoration: underline;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transition: all 500ms ease;

}

.Info li:hover{
     color:  rgb(65,107,119);
}

.Info a{
     color: rgb(255, 255, 255);
     transition: all 500ms ease;
}
.Info a:hover{
     color:rgb(91, 139, 152);
}

.ubicacion{
     display: none;
     transition: all 1500ms ease;
     position:relative;
     text-align: center;
}

.ubicacion iframe{
     border-radius: 1pc;
}

.Info li:hover .ubicacion{
     display: block;
     transform: translateY(30px) translate3d(20px);

}
hr{
     width: 57%;
}

/* Cards */

.streamers{
     display: flex;
     background-color: rgba(63, 73, 73, 0.5);
     width: auto; 
     max-width: 950px;
     padding: 10px;
     flex-direction: column;
     margin: 0 auto;
     border-radius: 20px;
     border-style:solid;
     text-align: center;
     border-color:rgba(0, 0, 0, 0.313);
} 

.Streamers-favoritos{
     display: inline-block;
     text-align: center;
     padding: 10px;

}
.streamCards{

    background:url("https://images.pexels.com/photos/3941855/pexels-photo-3941855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" );
      background-repeat:no-repeat;
     background-size: auto;
    width: auto;
     max-width: 230px;
     border-radius: 5px;
     display: inline-block;
     margin-bottom: 30px;
     margin: 30px;
     text-align: center;
     border-style:solid;
     border-color: rgba(0, 0, 0, 0.313);
     transition:all 300ms ease;
     padding: 20px;
}
.streamCards img{
     max-width: 176px;
     max-height: 176px;
     border-radius: 10px;
     border-color: rgba(0, 0, 0, 0.313);
     transition:all 800ms ease;

}
.streamCards a{
     transition:all 800ms ease;
}

.Vector{
color: rgb(255, 255, 255);
font-size:1.5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}

.nexxuz{
color: rgb(255, 255, 255);
font-size:1.5rem;
font-family:'Franklin Gothic Medium';
text-decoration:none;
}

.raptor{
color:rgb(255, 255, 255);
font-size:1.5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}

.nexxuz:hover{
     color: red;
}
.raptor:hover{
     color: orange;
}
.Vector:hover{  color: #810000;
}
.streamers h1{
color: rgb(255, 255, 255);
font-size: 45px;
text-decoration: underline;
transition: all 450ms ease;
}
.streamers h1:hover{
color:rgb(65,107,119);
}
.streamCards:hover{
transform:translateY(-15px);
}

/* Cardgames */

.Juegos{
display: flex;
flex-direction: column;
color: white;
font-size: 25px;
background-color: rgba(63, 73, 73, 0.5);
width:auto ;
padding:10px;
margin: 0 auto;
border-radius:10px;
border-style:solid;
border-color:rgba(0, 0, 0, 0.313);
max-width: 950px;
}

.Juegos-favoritos{
     display: inline-block;
padding: 10px;
text-align: center;
}
.cardGames{
display: inline-block;
text-align: center;
background:url("https://images.pexels.com/photos/3941855/pexels-photo-3941855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" );
padding: 20px;
width: auto;
max-width: 230px;
margin: 30px;
border-style:solid;
border-radius: 5px;
transition: all 300ms ease;
border-color:rgba(0, 0, 0, 0.313);
}
.cardGames img{
border-radius: 10px;
}

.cardGames:hover{
transform: translateY(-15px);
}

.Valorant{
color: white;
font-size: 1.5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}

.Valorant:hover{
     color:#ff4654;
}

.Warzone{
color: white;
font-size:1.5rem;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration:none;
}
.Warzone:hover{
     color: #3F4E4F;
}
.Gta{
color: white;
font-size:1.5rem;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}
.Gta:hover{
     color:rgb(71, 120, 29)
}




.infoUser1{
     display: flex;
     flex-direction: column;
  
     background-color: #3f4e4fae;
     width:auto ;
     margin: 0 auto;
     text-align: center;
     border-radius:10px;
     margin-top: 10px;
     border-style:solid;
     border-color:rgba(0, 0, 0, 0.313);
     max-width: 950px;
     
     }
     .infoUser1 h1{
          color:  white;
          font-size: 45px;
     }

 .infoUser2 {
     color:  white;
     font-size: 30px;
     height: 140px;
} 
.infoUser2 input{
     width: 50%;
     
     text-align: center;
     font-size: 20px;
}
@media (max-width:750px){
    
     .container{
          display: flex;
          justify-content: center;
          flex-direction: row-reverse;
     }
    
     .titulo1{
       display: none;
          color: #3F4E4F;
     }
     .titulo2{
          display: block;
     }
     .hr1{
          display: block;
          width: 100%;
     }
}
